<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8" />
    <title>{{ repo_name }} repo - {{ pkg.name }} details</title>
    <link rel="stylesheet" type="text/css" href="archrepo.css" />
</head><body>

<div id="pkgdetails" class="box">
    <div itemscope itemtype="https://schema.org/SoftwareApplication">
        <h2>
            <a href="{{ pkg.filename }}"><span itemprop="name">{{ pkg.name }}</span></a>
            <span itemprop="version">{{ pkg.version }}</span>
        </h2>

        <meta itemprop="softwareVersion" content="{{ pkg.version }}" />
        <meta itemprop="operatingSystem" content="Arch Linux" />
        {% if pkg.packager %}
        <div itemprop="provider" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="{{ pkg.packager }}" />
        </div>
        {% endif %}
        {% if pkg.groups|length == 0 %}
        <meta itemprop="applicationCategory" content="Software" />
        {% endif %}

        <table id="pkginfo">
            <tr>
                <th>Architecture:</th>
                <td>{{ pkg.architecture }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td class="wrap" itemprop="description">{{ pkg.description|default("") }}</td>
            </tr>
            <tr>
                <th>Upstream URL:</th>
                <td>{% if pkg.url %}<a itemprop="url" href="{{ pkg.url }}" title="Visit the website for {{ pkg.name }}">{{ pkg.url }}</a>{% endif %}</td>
            </tr>
            <tr>
                <th>{{ strings.licenses }}:</th>
                <td class="wrap">{{ pkg.licenses|join(", ") }}</td>
            </tr>
            {% if pkg.groups|length > 0 %}
            <tr>
                <th>{{ strings.groups }}:</th>
                <td class="wrap" itemprop="applicationCategory">{{ pkg.groups|join(", ") }}</td>
            </tr>
            {% endif %}
            {% if pkg.provides|length > 0 %}
            <tr>
                <th>Provides:</th>
                <td class="wrap">{{ pkg.provides|join(", ") }}</td>
            </tr>
            {% endif %}
            {% if pkg.replaces|length > 0 %}
            <tr>
                <th>Replaces:</th>
                <td class="wrap">{{ pkg.replaces|join(", ") }}</td>
            </tr>
            {% endif %}
            {% if pkg.replaces|length > 0 %}
            <tr>
                <th>Conflicts:</th>
                <td class="wrap">{{ pkg.conflicts|join(", ") }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Package Size:</th>
                <td itemprop="fileSize">{{ pkg.compressed_size|filesizeformat }}</td>
            </tr>
            <tr>
                <th>Installed Size:</th>
                <td>{{ pkg.installed_size|filesizeformat }}</td>
            </tr>
            <tr>
                <th>Build Date:</th>
                <td itemprop="dateCreated" >{{ pkg.build_date }} UTC</td>
            </tr>
        </table>
    </div>

    <div id="metadata">
        <div id="pkgdeps" class="listing">
            <h3 title="{{ pkg.name }} has the following dependencies">
                Dependencies ({{pkg.depends|length}})</h3>
            {% if pkg.depends|length > 0 %}<ul class="pkgdepslist">
                {% for depend in pkg.depends %}<li>{{ depend }}</li>{% endfor %}
            </ul>{% endif %}
        </div>
        {% if pkg.optdepends|length > 0 %}
        <div id="pkgoptdeps" class="listing">
            <h3 title="{{ pkg.name }} has the following optional dependencies">
                Optional Dependencies ({{pkg.optdepends|length}})</h3>
            <ul class="pkgdepslist">
                {% for depend in pkg.optdepends %}<li>{{ depend.name }} - <i>{{ depend.description }}</i></li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        <div id="pkgfiles" class="listing">
            <h3 title="Complete list of files contained within this package">
                Package Contents</h3>
            <div id="pkgfilelist">
                <p class='counts'>Package has {{ pkg.files.file_count }} files and {{ pkg.files.dir_count }} directories.</p>
                <ul class="pkgdepslist">
                {% for file in pkg.files.files %}<li class="{% if file.name.endswith('/') %}d{% else %}f{% endif %}">{{ file.name }} {%if file.bytes > 0 %}<span class='filesize'>({{file.bytes|filesizeformat}})</span>{% endif %}</li>{% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <p>Generated by <a href="https://code.aether.earth/archlinux/alpm-html">alpm-html</a>.</p>

    <p>The Arch Linux name and logo are recognized <a href="https://wiki.archlinux.org/index.php/DeveloperWiki:TrademarkPolicy" title="Arch Linux Trademark Policy">trademarks</a>. Some rights reserved.</p>

    <p>The registered trademark Linux&copy; is used pursuant to a sublicense from LMI, the exclusive licensee of Linus Torvalds, owner of the mark on a world-wide basis.</p>
</div>
</body></html>
